<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>efx_BaoZha_A_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,114},{3,3}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{3,3}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,136},{5,5}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{5,5}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,84},{73,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{73,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,224},{75,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{75,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,205},{77,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,145},{77,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,128},{77,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,126},{77,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,143},{77,69}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,69}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{77,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{77,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,207},{77,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{77,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,65},{79,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{79,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,119},{7,7}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{7,7}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,65},{79,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{79,59}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,82},{79,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{79,59}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{79,61}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{79,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{79,61}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{79,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{79,61}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{79,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,143},{9,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{9,9}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,118},{11,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{11,11}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,63},{15,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{15,15}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{19,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{19,19}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,544},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{27,27}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,361},{57,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{57,57}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_A_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{73,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{73,77}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>efx_BaoZha_B_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,67},{1,1}}</string>
                <key>offset</key>
                <string>{-42.5,42.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,224},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{24,24}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,284},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{72,72}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{72,72}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,214},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{74,74}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{76,76}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,159},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{76,76}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,65},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{78,78}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{78,80}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,80}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{80,80}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,491},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{36,36}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,524},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{44,44}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,478},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{50,50}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,433},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{56,56}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,519},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{60,60}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{64,64}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,416},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{66,66}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_B_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,364},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{70,70}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>efx_BaoZha_C_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,63},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{2,2}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,301},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{58,58}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,426},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{60,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,358},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{66,66}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,344},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{70,70}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,311},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,290},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,270},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,237},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,43},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{18,18}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,108},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{4,4}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,23},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{18,18}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,102},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{4,4}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,128},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{6,6}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,131},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{10,10}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,535},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{40,40}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,491},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{42,42}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,502},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_BaoZha_C_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,420},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{56,56}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>efx_Brick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,102},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{14,14}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,301},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,369},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,453},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,80},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{20,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,529},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{32,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,478},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{44,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,488},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{54,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,484},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,436},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_Brick_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,385},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx_baozha.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc454d1e8d0bb482050ffa7c4eee81a2:1/1$</string>
            <key>textureFileName</key>
            <string>efx_baozha.png</string>
        </dict>
    </dict>
</plist>
