<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Role_ShuangZi_A.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 53}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>Role_ShuangZi_B.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 1}, {52, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>sourceSize</key>
			<string>{52, 50}</string>
		</dict>
		<key>Role_frog.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {72, 63}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 63}}</string>
			<key>sourceSize</key>
			<string>{72, 63}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>textureFileName</key>
		<string>ShuangZiGuai.png</string>
	</dict>
</dict>
</plist>
