<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>spriteFrameFiles</key>
	<array>
		<string>PlayerBlackCat.plist</string>
		<string>efx_box.plist</string>
		<string>Player_SmallCat.plist</string>
		<string>ShuangZiGuai.plist</string>
		<string>mountain.plist</string>
		<string>efx_coin_particle.plist</string>
		<string>CiGangKui.plist</string>
		<string>efx_baozha.plist</string>
		<string>GangKui.plist</string>
		<string>FengGou.plist</string>
		<string>UFO.plist</string>
		<string>efx_bg.plist</string>
		<string>Player_Robot.plist</string>
		<string>efx_coin_star_frames.plist</string>
		<string>Bee3.plist</string>
		<string>img_Logo_a.plist</string>
		<string>item_coin_frames.plist</string>
		<string>Fish.plist</string>
		<string>PlayerHuman.plist</string>
		<string>Drawer.plist</string>
		<string>img_Logo_h.plist</string>
		<string>Drilldog.plist</string>
		<string>efx_BigCoin.plist</string>
		<string>enemy.plist</string>
		<string>Player_M.plist</string>
		<string>Spider.plist</string>
		<string>Fish2.plist</string>
		<string>image_UI_lose.plist</string>
		<string>Guai.plist</string>
		<string>RuanNiGuai.plist</string>
		<string>Player_Dracula.plist</string>
		<string>DiShu.plist</string>
		<string>img_Logo_m.plist</string>
		<string>item.plist</string>
		<string>Player_NASA.plist</string>
		<string>img_Logo_n.plist</string>
		<string>Player_fox.plist</string>
		<string>DaPao.plist</string>
		<string>img_Logo_o.plist</string>
		<string>img_Logo_p.plist</string>
		<string>Player_Marvin.plist</string>
		<string>Player_Zhai.plist</string>
		<string>Bee2.plist</string>
		<string>Player_smallfox.plist</string>
		<string>PlayerCat.plist</string>
		<string>Player_Girl.plist</string>
		<string>Player_Beer.plist</string>
		<string>Bee.plist</string>
		<string>Player_TiaoZi.plist</string>
		<string>img_Logo_t.plist</string>
		<string>image_UI_win.plist</string>
		<string>img_Logo_txt_cat.plist</string>
		<string>Player_DaVinci.plist</string>
		<string>Player_J.plist</string>
	</array>
</dict>
</plist>
